body {
  background-color: #D3DAD9;
}
.weather-data h1{
   text-align: center;
   color : #3B3B1A;
  text-shadow : 0px 0px 1px black;
}

.weather-data{
  text-align: center;
  width : 100%;
  position: relative;
}

.weather-data input{
  width : 25%;
  border : 2px solid black;
  border-radius : 10px;
  padding : 10px 10px;
}

.weather-data button{
  width : 10%;
  padding : 10px 10px;
  margin-left: 10px;
  border-radius: 5px;
  background-color: transparent;
  color : black;
  font-size : 16px;
  letter-spacing: 3px;
  cursor: pointer;
}

.weather-data button:hover{
    background-color: #44444E;
    color : white;
}

.weather-info{
  width : 300px;
  background-color: rgba(255, 255, 255, 0.753);
  margin : auto;
  margin-top: 30px;
  font-weight: 600;
  font-size : 18px;
  padding : 10px 10px;
  border : 2px solid black;
  border-radius : 10px;
}

.weather-info h3{
  color : #3B3B1A;
  font-size: 22px;
  font-weight : 700;
}

.weather-info p{
  font-size : 18px;
  font-weight : 600;
  color : #3B3B1A;
}

.weather-info span{
  background-color: #E7EFC7;
}

.weather-info .loader{
  position : absolute;
  left : 720px;
  display: none;
}

.weather-info .loader-show{
  display : block;
  position : absolute;
  left : 720px;
}

@media (max-width:640px){
  .weather-data input{
    width : 45%;
  }

  .weather-data button{
    width : 25%;
  }

}